
# Include code style settings
!.idea/
.idea/*
!.idea/codeStyleSettings.xml
*.iml

# Gradle:
# .idea/gradle.xml
# .idea/libraries
**/build/**
**/classes/**

**/out/
**/target/**
.gradle

**/*.versionsBackup
release.properties
