<!doctype html>
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <meta charset="utf-8">
    <title>JUnit Performance Report</title>

</head>
<body style='font-family:Verdana;'>
<center>
    <h1 style='color:#044e9b'>JUnit Performance Report</h1>
        <hr/>
        <br/>
        <table border='1' cellspacing='0' cellpadding='3px' style='border-color:#eee'>
            <tr>
                <th style='background-color:#ffffdd; color:#044e9b'>&nbsp;&nbsp;&nbsp;</th>
                <th style='background-color:#ffffdd; color:#044e9b'>Test</th>
            <tr>

             
        {% OVERVIEW_BLOCK %}
                <tr>
                    <!-- Success: #2b67a4 failure: #d9534f -->
                    <td style='background-color:{{ context.testNameColour }};'>&nbsp;</td>
                    <td><a href='#{{ context.uniqueId }}'>{{ context.testName }}</td>
                <tr>
             
        {% END %}
        </table>
        <br/>
        <hr/>


        
        {% DETAILED_BLOCK %}
        <a name='{{ context.uniqueId }}'><h2 style='color:#2b67a4'>{{ context.testName }}</h2></a>
        <table width='970'>
            <tr>
                <td>
                    <!-- ADD scatter Chart here!! -->
                    <script type="text/javascript">
                        google.charts.load('current', {'packages':['corechart']});
                        google.charts.setOnLoadCallback(drawChart);
                        google.charts.setOnLoadCallback(setCsvExportLink);

                        function drawChart() {

                            var data = google.visualization.arrayToDataTable([
                                ['Percentile', 'Latency', { role: "tooltip"} ],
                                {{ context.chartData }}
                            ]);

                            var options = {
                                title: 'Latency percentile Distribution',
                                hAxis: {
                                    title: 'Percentile',
                                    minValue: 0,
                                    maxValue: 100,
                                    viewWindow: {
                                        min: 0,
                                        max: 100
                                    }
                                },
                                vAxis: {title: 'Latency', minValue: 0, maxValue: 15},
                                legend: 'none',
                                lineWidth: 1,
                                pointSize: 7,
                                dataOpacity: 0.5
                            };

                            var chart = new google.visualization.ScatterChart(document.getElementById('{{ context.uniqueId }}'));

                            chart.draw(data, options);
                        }

                        function setCsvExportLink() {
                            var csvData = google.visualization.arrayToDataTable([
                                ['Percentile', 'Latency'],
                                {{ context.csvData }}
                            ]);
                            var csvFormattedDataTable = google.visualization.dataTableToCsv(csvData);
                            var encodedUri = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csvFormattedDataTable);
                            var link = document.getElementById('Export-{{ context.uniqueId }}')
                            link.href=encodedUri;
                            link.download = '{{ context.uniqueId }}.csv';
                            link.target = '_blank';
                        }

                    </script>
                    <div id="{{ context.uniqueId }}" style="width: 600px; height: 400px;"></div>
                    <a id="Export-{{ context.uniqueId }}" href="#" style="margin-left: 230px;">Download as csv</a>
                </td>
                <td>
                    <table style='font-family:sans-serif;'>
                        <tr><th>Started at:</th><td colspan='2'><b>{{ context.startTime }}</b></td></tr>
                        <tr>
                            <th align='right' valign='top'>Invocations:</th>
                            <td align='right'>{{ context.totalInvocations }}</td>
                            <td align='right'></td>
                        </tr>
                        <tr>
                            <th align='right' valign='top'>- Success:</th>
                            <td align='right'>{{ context.successfulInvocations }}</td>
                            <td align='right'></td>
                        </tr>
                        <tr>
                            
                            <th align='right' valign='top'><b style='color:{{ context.errorThresholdColour }}'>- Errors:</b></th>
                            <td align='right'><b style='color:{{ context.errorThresholdColour }}'>{{ context.errorCount }}</b></td>
                            <td align='right'><b style='color:{{ context.errorThresholdColour }};'>{{ context.errorPercentage }}%</b></td>
                        </tr>
                        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                        <tr>
                            <th align='right' valign='top'>Thread Count:</th>
                            <td align='right'>{{ context.configuredThreads }}</td>
                            <td align='right'></td>
                        </tr>
                        <tr>
                            <th align='right' valign='top'>Warm up:</th>
                            <td align='right'>{{ context.configuredWarmUp }} ms</td>
                            <td align='right'></td>
                        </tr>
                        <tr>
                            <th align='right' valign='top'>Ramp up:</th>
                            <td align='right'>{{ context.configuredRampUpPeriodMs }} ms</td>
                            <td align='right'></td>
                        </tr>
                        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                        <tr valign='top'>
                            <th>&nbsp;</th>
                            <th>Measured<br/>(system)</th>
                            <th>Required</th>
                        </tr>
                        <tr>
                            <th align='right' valign='top'>Execution time:</th>
                            <td align='right'>{{ context.testDurationFormatted }}</td>
                            <td align='right'></td>
                        </tr>
                        <tr>
                            
                            <th align='right' valign='top'><b style='color:{{ context.throughputAchievedColour }}'>Throughput:</b></th>
                            <td align='right'><b style='color:{{ context.throughputAchievedColour }};'>{{ context.throughputQps }} / s</b></td>
                            <td align='right'><b style='color:{{ context.throughputAchievedColour }};'>{{ context.requiredThroughput }} / s</b></td>
                        </tr>
                        <tr>
                            
                            <th align='right' valign='top'><b style='color:{{ context.minLatencyAchievedColour }}'>Min latency:</b></th>
                            <td align='right'><b style='color:{{ context.minLatencyAchievedColour }}'>{{ context.minLatency }} ms</b></td>
                            <td align='right'><b style='color:{{ context.minLatencyAchievedColour }}'>{{ context.requiredMinLatency }} ms</b></td>
                        </tr>
                        <tr>
                            
                            <th align='right' valign='top'><b style='color:{{ context.meanLatencyAchievedColour }}'>Average latency:</b></th>
                            <td align='right'><b style='color:{{ context.meanLatencyAchievedColour }}'>{{ context.meanLatency }} ms</b></td>
                            <td align='right'><b style='color:{{ context.meanLatencyAchievedColour }}'>{{ context.requiredMeanLatency }} ms</b></td>
                        </tr>

                        
                        {% PERCENTILES_BLOCK %}
                        <tr>
                             <!-- HACK to get parameter passed to function -->
                            
                            <th align='right' valign='top'><b style='color:{{ context.percentiles.percentileResultColour }}'>{{ context.percentiles.percentile }}:</b></th>
                            <td align='right'><b style='color:{{ context.percentiles.percentileResultColour }};'>{{ context.percentiles.percentileLatency }} ms</b></td>
                            <td align='right'><b style='color:{{ context.percentiles.percentileResultColour }}'>{{ context.percentiles.percentileTarget }} ms</b></td>
                            
                        </tr>
                        {% END %}
                        <tr>
                            
                            <th align='right' valign='top'><b style='color:{{ context.maxLatencyAchievedColour }}'>Max latency:</b></th>
                            <td align='right'><b style='color:{{ context.maxLatencyAchievedColour }}'>{{ context.maxLatency }} ms</b></td>
                            <td align='right'><b style='color:{{ context.maxLatencyAchievedColour }}'>{{ context.requiredMaxLatency }} ms</b></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br/>
        <br/><br/><br/>
        
        {% END %}
        <hr/>
        <div style='color:#044e9b;'>Report created by <a href='https://github.com/noconnor/JUnitPerf'>JunitPerf</a> </div>
</center>
</body>
</html>
